@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbo {
  margin-top: 50px;
  background-image: asset-url('back-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}
