@import 'bootstrap/dist/css/bootstrap';

.nav-link {
  color: white !important;
}

a {
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.hamburger {
  color: white !important;
}

#home-container {
  margin-top: 25px;
}

.jumbo {
  margin-top: 50px;
  background-image: asset-url('back-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html,
body {
  height: 100%;
  background-color: lightgrey;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
